@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* 全局渐显动画 */
.slide-in-hidden {
  opacity: 0;
  transform: translateX(-100px);
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
